html {
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



// .main {
//     padding: 20px 20px;

//     @include MQ(M) {

//         padding: 100px 40px 40px;
//     }
   
// }



p {
    margin-top: 0;
}