// CLEARFIX



.clearfix {
	zoom: 1; /* ie 6/7 */

	&:after {
		clear: both;
	}

	&:after,&:before {
		content: "";
		display: table;
	}
}


// FONTS

html, body {
	font-family: "Open Sans", sans-serif, arial;
	font-weight: 600;
	color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {

	font-family: Vollkorn, sans-serif, arial;
	font-weight: 400;	
}


.row {
	margin-left: auto;
	margin-right: auto;
}

.small-hr {
	width: 70%;
}


// SECTION

.section {
	
	text-align: center;
	@extend .clearfix;
	padding: 50px 0 50px 0;
	border-bottom: 1px solid gray;

	
	&--no-hero {
		@extend .section;
		margin-top: 80px;
	}

	
	&:last-of-type {
		
		border: none;
	}

	&__heading {
		
		font-size: 2.7em;
		text-align: center;
		color: #40404C;
		margin-top: 0;
		margin-bottom: 0;
		

		&.special--home, &.special--classes {
			position: absolute;
			bottom: 0;
			margin: 0;
			background-color: rgba(228, 228, 228, 0.71);
			width: 100%;
			font-size: 8vw;


			@include MQ(M) {

				font-size: 7vw;
			}


			@include MQ(L) {

				font-size: 6vw;
			}
		}

		
		
		// font-size: 7vw;
		// font-size: 6vw;
		/* TESTING NEW LAYOUT */
		
		// &.special {
		// 	margin-top: -120px;
		// 	background-color: rgba(255, 255, 255, 0.72);
		// 	width: 100%;
		// 	border-radius: 5px;
		// 	line-height: 1.2;
			
		// 	&--home {
		// 		margin-top: -120px;
		// 		background-color: rgba(255, 255, 255, 0.72);
		// 		width: 100%;
		// 		border-radius: 5px;
		// 		line-height: 1.2;
		// 		@include MQ(S) {
		// 			margin-bottom: 80px;
		// 		}
		// 	}
			
		// }
		

		@include MQ(S) {

			font-size: 3em;
		}

		@include MQ(M) {

			font-size: 4em;
		}
	}

	&__heading--has-subheading {

		@extend .section__heading;
		margin-bottom: 5px;
	}

	&__subheading {

		color: $secondary-color;
		font-size: 1.5em;
		margin-top: 0;
		margin-bottom: 50px;
	}

}



// BUTTONS

.button {
	
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;

	&--ghost {
		
		@extend .button;
		border: 2px solid #3e4f6a;
		color: #3e4f6a;
	}
}

.main {
	
	max-width: 980px;
    margin-left: auto;
    margin-right: auto;
	@extend .clearfix;
	padding: 20px 20px;

	@include MQ(M) {

	    padding: 40px 40px;
	}

	@include MQ(L) {

	    padding: 40px 0;
	}
}

    
    
// * HELPERS * //

.hide__medium-up {

	@include MQ(M) {
		display: none;
	}
}

