// CLEARFIX



.clearfix {
	zoom: 1; /* ie 6/7 */

	&:after {
		clear: both;
	}

	&:after,&:before {
		content: "";
		display: table;
	}
}


// FONTS

html, body {
	font-family: "Open Sans", sans-serif, arial;
	font-weight: 600;
	color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {

	font-family: Vollkorn, sans-serif, arial;
	font-weight: 400;	
}


.row {
	margin-left: auto;
	margin-right: auto;
}




// SECTION

.section {
	
	text-align: center;
	@extend .clearfix;
	padding: 0 0 50px 0;
	border-bottom: 1px solid gray;

	
	&--no-hero {
		@extend .section;
		margin-top: 80px;
	}

	
	&:last-of-type {
		
		border: none;
	}

	&__heading {
		
		font-size: 1.8em;
		text-align: center;
		color: #40404C;

		@include MQ(S) {

			font-size: 3em;
		}

		@include MQ(M) {

			font-size: 4em;
		}
	}

	&__heading--has-subheading {

		@extend .section__heading;
		margin-bottom: 5px;
	}

	&__subheading {

		color: $secondary-color;
		font-size: 1.5em;
		margin-top: 0;
		margin-bottom: 50px;
	}

}



// BUTTONS

.button {
	
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;

	&--ghost {
		
		@extend .button;
		border: 2px solid #3e4f6a;
		color: #3e4f6a;
	}
}

.main {
	
	max-width: 980px;
    margin-left: auto;
    margin-right: auto;
	@extend .clearfix;
	padding: 20px 20px;

	@include MQ(M) {

	    padding: 40px 40px;
	}
}

    
    
// * HELPERS * //

.hide__medium-up {

	@include MQ(M) {
		display: none;
	}
}