.group-classes {
	
	width: 100%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(40, 31, 31, 0.56), 0 2px 10px 0 rgba(32, 32, 32, 0.52);
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    @extend %shadow;
    transition: all .3s ease-in-out;
	
   

	@include MQ(M) {
		
		width: 48%;
		display: inline-block;
		text-align: center;
	    margin: 0 4px;
	    vertical-align: top;
	}
	



	
	&__heading {
		
		margin: 0;
		display: block;
		font-size: 1.7em;
		padding-top: 25px;
		margin-bottom: 10px;

		@include MQ(M) {
			
			display: block;
			padding: none;
		}
	}


	&__content__cover {

		display: none;
		
		@include MQ(M) {
			
			display: block;
		}
	}


	&__image {
		
		@extend %shadow;
		@include circle-image(100px);
		
		@include MQ(M) {
			

			@include circle-image(300px);
		}
	}


	& i {

		vertical-align: text-bottom;
	    position: absolute;
	    right: 20px;
	    font-size: 33px;
	    background-color: #40526B;
	    color: white;
	    padding: 2px;
	    box-shadow: 0 2px 5px 0 rgba(40, 31, 31, 0.56), 0 2px 10px 0 rgba(32, 32, 32, 0.52);
	    border-radius: 50%;
	    top: 15px;

		@include MQ(M) {

			display: none;
		}
	}



	&__list {
		
		clear: both;

		@include MQ(M) {

			margin-top: 20px;
		}
	}
	

	&__list-item {
	    
	    padding: 20px 0;
	}
}