.hero {

	position: relative;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	margin-top: 80px;
	background-position: center center;
	height: 220px;

	@include MQ(S) {

		height: 250px;
	}


	@include MQ(M) {

		height: 350px;
	}


	@include MQ(S) {}
	

	&.home {
		
		// background-image: url("../img/home-hero-1600-mobile.jpg");
		// @include MQ(M) {

		// 	background-image: url("../img/home-hero-1600.jpg");
		// }
		
		background-position: top center;
		background-image: url("../img/David-Jessica-mobile.jpg");
		@include MQ(M) {

			background-image: url("../img/David-Jessica.jpg");
		}
		
	}

	&.lessons {

		background-image: url("../img/Ballroom-Partners.jpg");
	}

	&.classes {

		background-image: url("../img/classes-hero-mobile.jpg");
		@include MQ(M) {

			background-image: url("../img/classes-hero.jpg");
		}
	}

	&.weddings {

		background-image: url("../img/Wedding.jpg");
	}
}