.info {

	&__item {
		
		padding: 20px;
		font-size: $font-size;
		font-weight: 600;

		&:last-of-type .info__answer {
			border: none;
		}

		@include MQ(L) {

			display: inline-block;
			width: 49%;
			padding: 40px;
			vertical-align: middle;;
		}
	}


	&__answer {
		display: block;
		font-weight: 400;
		color: $body-color;
		// border-bottom: 1px solid #BBBBBB;
		
		padding-bottom: 30px;
		
		
	}


}