.media {
	
	width: 100%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(40, 31, 31, 0.56), 0 2px 10px 0 rgba(32, 32, 32, 0.52);
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    @extend %shadow;
    transition: all .3s ease-in-out;
	
    // &:hover {

    // 	background-color: #3DDFBB;
    // }

	@include MQ(M) {
		
		width: initial;
		box-shadow: none;
		background-color: transparent;
		display: inline-block;
		text-align: center;
	    margin: 0 4px;
	    vertical-align: top;

	    &__row--flex {

	    	display: flex;
	    }

	}
	
	


	&__link {
		
		

		&:hover {

			background-color: #3DDFBB;
		}


		@include MQ(M) {
			
			flex: 1;
			box-shadow: 0 2px 5px 0 rgba(40, 31, 31, 0.56), 0 2px 10px 0 rgba(32, 32, 32, 0.52);
			margin: 0 15px;
			transition: all .3s ease-in-out;
		}
	}
	
	&__heading {
		
		margin: 0;
		display: inline-block;


		@include MQ(M) {
			
			display: block;
			font-size: 2em;
		}
	}


	&__content__cover {

		display: none;
		
		@include MQ(M) {
			
			display: block;
			font-size: 1.2em;
		}
	}


	&__image {
		
		display: inline-block;		
		position: absolute;
		top: 5px;
		left: 8px;
		@extend %shadow;
		@include circle-image(55px);
		
		@include MQ(M) {
			
			position: static;
			@include circle-image(300px);
		}
	}


	& i {

		vertical-align: text-bottom;
	    position: absolute;
	    right: 20px;
	    font-size: 33px;
	    background-color: #40526B;
	    background-color: #8E959E;
	    color: white;
	    padding: 2px;
	    box-shadow: 0 2px 5px 0 rgba(40, 31, 31, 0.56), 0 2px 10px 0 rgba(32, 32, 32, 0.52);
	    border-radius: 50%;
	    top: 15px;
	    font-family: 'Material Icons';

		@include MQ(M) {

			display: none;
		}
	}


	&.classes {

		width: 48%;
		display: inline-block;
	}


	&__list {
		
		margin-top: 20px;
	}
	

	&__list-item {
	    
	    padding: 20px 0;
	}
}