.nav-toggle {
    position: fixed;
    top: 20px;
    right: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.42);
    border-radius: 50%;
    padding: 8px 10px;
    background-color: white;
    z-index: 999;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    

    &.rotate--icon {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        background-color: #A09B9B;


        .nav-toggle__icon {
            color: #40526B;
            
        }

    }

    
    &__icon {
        color: #545767;
        font-size: 24px;
        z-index: 999;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        

    }
    
    &__container {
        background-color: rgb(84, 87, 103);
        height: 80px;
        position: fixed;
        width: 100%;
        background-color: white;
        color: #40526B;
    }
    
    &__heading {
        position: relative;
        left: 20px;
        font-weight: 400;
        top: 10px;
        text-transform: uppercase;
        font-size: 22px;
        font-style: italic;
    }
}

.nav-toggle__icon--close {
    position: fixed;
    top: 30px;
    right: 30px;
 
}


.nav {
    background: #40526B;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    visibility: visible;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.42);
    transition: all .3s ease .3s;
    transform: translateX(205px);
    -webkit-transform: translateX(205px);
    -moz-transform: translateX(205px);
    -ms-transform: translateX(205px);
    overflow: hidden;
    
    &--open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
    }
    
    &__list {
        padding-top: 90px;
        text-align: right;
        padding-right: 30px;
        height: 100%;
        overflow-y: auto;
    }
    
    &__list-item {
        margin: 10px 0;
        
        &:last-of-type {
            padding-bottom: 100px;
        }
    }
    
    &__link {

        padding: 10px 0;
        display: block;
        color: #3A3C48;
        font-weight: 400;
        font-size: 20px;
        color: white;
        font-family: Vollkorn;       
    }
    
}


// TESTING
#nav__close {
    display: none;
}



/////

// DESKTOP NAV

.nav-toggle {

    @include MQ(L) {

        display: none;

        &__container {

            display: none;
        }
    }
}

.nav {

    @include MQ(L) {

        float: right;
        margin-right: 0;
        padding-top: 0;
        background-color: initial;
        box-shadow: none;
        position: relative;
        width: initial;
        top: 0;
        right: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        

        &__list {

            padding-top: 0;
        }


        &__list-item {

            display: inline-block;
            padding: 10px;

            &:last-of-type {
                padding-right: 0;
            }
        }

         &__link {

            color: white;
        }
    }  

}
